<div class="row row-content">
  <div style="display: flex; justify-content: space-around">
    <ul class="list-unstyled">
      <li>
        <a style="cursor: pointer" class="link" (click)="disclaimer()"><small>Disclaimer</small></a>
      </li>
      <li>
        <a style="cursor: pointer" class="link" (click)="privacy()"><small>Privacy Policy</small></a>
      </li>
      <li>
        <a style="cursor: pointer" class="link" (click)="terms()"><small>Terms & Conditions</small></a>
      </li>
      <li>
        <a href="#" routerLink="./admin"><small>Site admin</small></a>
      </li>
    </ul>
    <ul class="list-unstyled">
      <li class="xs-show">
        <a href="https://www.facebook.com/DGFManipur/" target="_blank" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
        <a href="mailto:info@dynamicgroupoffoundations.org" class="btn  btn-social-icon"><i class="fa fa-envelope-o"></i></a>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <p class="text-center">&copy; <small>Dynamic Group of Foundations</small></p>
</div>
<div class="row">
  <p class="text-center">
    <a href="https://ronscoder.github.io" target="_blank"><small>Site Developer</small></a>
  </p>
</div>