<div class="container">
  <div class="col-sm-10 col-sm-push-1">
    <div class="row row-content">
      <h1>Banker</h1> <kbd>NON-FCRA Bank</kbd>
      <dl class="dl-horizontal">
        <dt>A/C Number</dt>
        <dd><code>803007108002399</code></dd>
        <dt>Bank</dt>
        <dd>The Imphal Urban Co-operative Bank Ltd., Lamlong, Imphal, Manipur</dd>
      </dl>
    </div>
    <div class="row row-content">
      <h1>Auditor</h1>
      <p>M/S AMD & ASSOCIATES CHARTERED ACCOUNTANTS</p>
    </div>
  </div>
</div>