<div class="container">
  <div class="row row-content">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row row-content">
        <article>
          <h1>What We do</h1>
          <p>Dynamic Group of Foundations aims at improving the lives of the people by extending support in multiple sectors
            that typically will cover Health, Education and Economic development aspect of the target community.</p>
          <ul>
            <li>The Educational goals envisages to provide better age-appropriate education to all children in target area and
              improve quality of education through institutional capacity building and to demonstrate that children and families
              will be direct focus of the organization. The involvement of parents, educational institutes, teachers and
              department will ensure the community approach toward the future will-being of children.
            </li>
            <li>
              The Health goal is improvement in the survival and maintenance of sound health of children under five years and also to sustain
              the life of new born child and mothers in the community. Moreover, it will also address the system and structure
              of community for equitable distribution of resources. Greater network and collaboration will give the organization
              a reality for integrated focus approach.
            </li>
            <li>
              The Economic development goal aims at sustained livelihood – such as community ownership, sustainability, holism and mutual
              transformation. The vulnerable families like daily labours, marginalised and unemployed youths will be direct
              beneficiaries.
            </li>
          </ul>
        </article>
      </div>
      
      <nav class="row row-content">
        <ul class="nav nav-pills" role="tablist">
          <!--          <li><a pageScroll href="#education">Education</a></li>
          <li><a pageScroll href="#health">Health</a></li>
          <li><a pageScroll href="#socio-economic">Socia-economic</a></li> -->
          <li role="presentation" class="active"><a data-toggle="tab" role="tab" aria-controls="education" href="#education">Education</a></li>
          <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="health" href="#health">Health</a></li>
          <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="socio-economic" href="#socio-economic">Socio-economic</a></li>
        </ul>
      </nav>

      <div class="tab-content">
        <section id="education" class="tab-pane active fade in" role="tabpanel">
          <h2>Education <i class="fa fa-university"></i></h2>
          <h4>Description of Initiatives</h4>
          <ol>
            <li> Appropriate infrastructural facilities set up in the schools</li>
            <li> Functional SMC & PTA in each school according to RTE act</li>
            <li> Child Protection Committees and Education monitoring committees are functioning effectively in communities</li>
            <li> Adopt modern teaching methodology as per National education policy</li>
            <li> Remedial system in place to support education</li>
            <li> Local group’s members would have adopted community management process in monitoring education system</li>
            <li> Local groups initiating rights based programs on Education</li>
          </ol>
        </section>
        <section class="tab-pane fade" role="tabpanel" id="health">
          <h2>Health <i class="fa fa-heartbeat"></i></h2>
          <h4>Description of Initiatives</h4>
          <ol>
            <li>Timed Counselling mechanism</li>
            <li>Increase knowledge among communities on household level behaviours.</li>
            <li>Improve utilization of maternal and child health services</li>
            <li>Increase availability of nutritious food in households.</li>
            <li>Biannual Vitamin A supplementation rounds (April and December) supported</li>
            <li>Supplies for key maternal and child health services ensured</li>
            <li>Home management of diarrhoea established</li>
            <li>Improve accessibility to better health services</li>
            <li>Community system development for household reporting of use of health services (ANC/ PNC/ new born care/ management
              of childhood illnesses/ referral care)</li>
            <li>Skill building for women & their families with special focus to involve male members in the family in adoption
              of healthy behaviours</li>
            <li>Development of tools for compiling household level reporting of health problems/ complications to be used by
              the community informal group to track problems at household level and monitor health behaviour at household
              level.
            </li>
            <li>Strengthening rural community information on vaccination schedules and the reasoning behind them in order to
              increase demand for services and build linkages to central delivery systems.</li>
            <li>Awareness on the importance of using contraceptives for unwanted pregnancies, spacing and prevention of STD.</li>
          </ol>
        </section>
        <section class="tab-pane fade" role="tabpanel" id="socio-economic">
          <h2>Socio-economic <i class="fa fa-group"></i></h2>
          <h4>Description of Initiatives</h4>
          <ol>
            <li>Establish baseline data base on poor household.</li>
            <li>SHGs trained on group management, financial linkages and integration with PRI.</li>
            <li>Train poor household on multiple livelihood activities</li>
            <li>SHG members initiate livelihood activities either as collective or individual</li>
            <li>Promote wage labour collectives/ Association.</li>
            <li>Establish baseline on youth and various skills and qualification</li>
            <li>Establish demand on various skills of the recruiters</li>
            <li>Signing MOU with industries and Corporate</li>
            <li>Enhance skills of youth (19-30 age groups) on demand based skills</li>
            <li>Placement of the trained youth </li>
            <li>Promote Livelihood Service Centre </li>
            <li>Establish data on resource availability, existing Local groups and Market linkages,</li>
            <li>Enhance capacity of poor HH on Veterinary care and management</li>
            <li>Increase productivity of cattle’s in the target area</li>
            <li>Promote milk / related producer cooperatives.</li>
          </ol>
        </section>
      </div>
    </div>
  </div>
</div>