<div class="row">
  <div class="col-sm-10 col-sm-push-1">
    <h3 style="display: inline">Financial Summary</h3>
    <div class="row row-content">
      <h5 style="display: inline">ACCOUNT FOR THE YEAR ENDED</h5>
      <select [(ngModel)]="selectedFYIdx">
  <option  *ngFor="let summary of summaries_fy; let i = index;" 
  [value]="i" [selected]="selectedFYIdx == i"
  >{{summary.fy}}</option>
</select>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <tabset>
          <tab heading="INCOME & EXPENDITURE">
            <app-loader class="text-center" [size]='3' *ngIf="loadingImg1"></app-loader>
            <img [src]="summaries_fy[selectedFYIdx]?.inc_exp.doc_url" class="img img-responsive" style="padding: 4px 2px;" (load)="loadingImg1 = false;">
          </tab>
          <tab heading="RECEIPTS & PAYMENTS">
            <app-loader class="text-center" [size]='3' *ngIf="loadingImg2"></app-loader>
            <img src="{{summaries_fy[selectedFYIdx]?.receipt.doc_url}}" class="img img-responsive" style="padding: 4px 2px;" (load)="loadingImg2 = false;">
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>