<div class="container">
  <div class="col-sm-10 col-sm-push-1">
    <div class="row row-content">
      <h3>{{groupName}}</h3>
    </div>
    <div class="row">
      <app-loader class="text-center" [size]='3' *ngIf="loading"></app-loader>
      <label class="alert alert-warning" *ngIf="figures.length == 0  && !loading">No content to display</label>
      <div class="col-xs-12 col-sm-4" *ngFor="let figure of figures">
        <a href="#" (click)="modalFigure = figure;" data-toggle="modal" data-target='#imageModal'>
          <div class="thumbnail">
            <img src="{{figure.image_url}}">
            <div class="caption">
              <h4 style="padding: 0px;">{{figure.image_title}}</h4>
              <p><small>{{figure.image_subtext}}</small></p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="imageModal" *ngIf="modalFigure">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{modalFigure.image_title}}</h4>
          </div>
          <div class="modal-body">
            <img class="img img-responsive" src="{{modalFigure.image_url}}">
          </div>
          <div class="modal-footer">
            <div class="caption">
              {{modalFigure.image_subtext}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>