  <div class="row row-content">
    <div class="col-sm-8 col-sm-offset-2">
      <section>
        <h1>Projects</h1>
        <p>
          Dynamic Group of Foundations (DGF) has planned strategies according to findings from survey in all the three sectors, namely,
          Health, Socio-Economic and Education. The activities in all these categories will be prepared and vary from time
          to time depending upon the immediate needs of the community under consideration. The activities have been properly
          discussed and will be implemented for the benefit and upliftment of the under-privileged sections of the target
          area.
        </p>
        <p>
          The activities mentioned in each of the categories have been prepared based strictly on survey summary and availability of
          resources.
        </p>
      </section>
    </div>
  </div>
  <div class="row row-content">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Health Projects</h2>
      <h4>Activities to be taken up are summarized as follows:</h4>
      <ol>
        <li>Identification and Selection of Volunteer and orientation meeting for volunteer.</li>
        <li>Training of volunteers on related roles and responsibility towards health.</li>
        <li>Establish health monitoring system in places and printing of related documents.</li>
        <li>Collect data from registers every month to feed into Project’s Record.</li>
        <li>Facilitate training of ANMs in skills related to assist births.</li>
        <li>Health worker’s meals (Get together) to reinforce messages and facilitate good performing workers.</li>
        <li>Organize demonstration on preparation of nutritious food with locally available food materials.</li>
        <li>List all children aged 1 – 3 years by volunteers and share list with AWW/ANM.</li>
        <li>Train volunteers and mothers in ORS preparation and use.</li>
        <li>Establish safe drinking water systems in target areas.</li>
        <li>Assist poorest families to construct toilet facilities in houses.</li>
        <li>Establish waste management and drainage systems in target areas.</li>
      </ol>
    </div>
  </div>
  <div class="row row-content">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Socio Economic Projects</h2>
      <ol>
        <li>Conduct baseline survey.</li>
        <li>Formation of Self Help Groups (SHG) and capacity building training for SHG Members, volunteers and community leader.</li>
        <li>Providing SHG record books and accounting books.</li>
        <li>Conduct training on livelihoods in agricultural business service and production related.</li>
        <li>Promote group livelihood activities through SHGs.</li>
        <li>Facilitate insurance coverage for all members in the SHGs and Wage labour organization.</li>
        <li>Identification of youths belongs to 19 – 30yrs age group and conduct assessment of their needs and aspirations with
          existing skills.</li>
        <li>Conduct training to staff and volunteers on various processes of youth employment and survey methodology.</li>
        <li>Undertake exposure visits for students to industries.</li>
        <li>Training on animal husbandry care and management to community.</li>
        <li>Promote establishing dairy units.</li>
        <li>Conduct free camps for Cattle care and veterinary camps.</li>
        <li>Train volunteers on veterinary on first aid and artificial insemination.</li>
        <li>Train farmers on GAP (Good Agricultural Practice).</li>
        <li>Develop demonstration sites in applying new technology.</li>
        <li>Train farmers on Integrated Pest Management (IPM).</li>
        <li>Train extension workers on cropping technology to support farmers in the field.</li>
        <li>Train extension workers on soil and water conservation techniques and methods.</li>
        <li>Provide market related infrastructure for small and marginal farmers.</li>
        <li>Conduct awareness on various financial products in the financial institutions – banks.</li>
        <li>Facilitate insurance related services to mitigate risk of the small and marginal farmers.</li>
        <li>Develop / renovation of faith centre.</li>
      </ol>
    </div>
  </div>
  <div class="row row-content">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>Education Projects</h2>
      <h4>Activities to be taken up in the education projects are summarized as follows:</h4>
      <ol>
        <li>Construction/ renovation of school facilities (toilet/ water facilities/ classroom facilities).</li>
        <li>Provide play materials, computers and other teaching materials to schools.</li>
        <li>Facilitate the formation and training in association with DIET.</li>
        <li>Identify the needs for teachers, Para teachers and conduct training in association with DIET.</li>
        <li>Local groups facilitate supportive education systems like study centres, home-work centres and library etc. in target
          Areas.
        </li>
        <li>Conduct of arts and sport festivals and events.</li>
        <li>Identification of remedial teaching volunteers and capacity building programs.</li>
        <li>Provide educational assistance to the neediest children [school bags/ uniforms/ other study materials etc.]</li>
        <li>Organize community awareness through IEC technique.</li>
        <li>Facilitate Local groups for arranging transportation facilities for children in schools.</li>
        <li>Organize sensitization programs on child rights, child labour, HIV AIDS, etc.</li>
        <li>Stipend to the neediest children and ambitious students.</li>

      </ol>
    </div>
  </div>
