<div class="row row-content">
  <div class="col-sm-10 col-sm-push-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h1>Administrative Details</h1>
        </div>
        <div class="row">
          <dl>
            <div class="row">
              <dt class="col-xs-4">Name of the organization</dt>
              <dd class="col-xs-8">Dynamic Group of Foundations</dd>
            </div>

            <div class="row">
              <dt class="col-xs-4">Nature</dt>
              <dd class="col-xs-8">Trust</dd>
            </div>

            <div class="row">
              <dt class="col-xs-4">District</dt>
              <dd class="col-xs-8">Imphal East</dd>
            </div>

            <div class="row">
              <dt class="col-xs-4">Town/City</dt>
              <dd class="col-xs-8">Imphal</dd>
            </div>

            <div class="row">
              <dt class="col-xs-4">State</dt>
              <dd class="col-xs-8">Manipur</dd>
            </div>

            <div class="row">
              <dt class="col-xs-4">Contact Number</dt>
              <dd class="col-xs-8"><a href="tel:+918794781596">+918794781596</a>, <a href="tel:918794914712">+918794914712</a></dd>
            </div>

            <div class="row">
              <dt class="col-xs-4">Email</dt>
              <dd class="col-xs-8"><a href="mailto:info@dynamicgroupoffoundations.org">info@dynamicgroupoffoundations.org</a></dd>
            </div>

            <div class="row">
              <dt class="col-xs-4">Website</dt>
              <dd class="col-xs-8"><a href="http://dynamicgroupoffoundations.org" target="_blank">dynamicgroupoffoundations.org</a></dd>
            </div>
            <hr>
            <div class="row">
              <dt class="col-xs-4">Contact Person</dt>
              <dd class="col-xs-8">
                <strong>
        <i class="fa fa-user-circle"></i> Samananda Singh Irungbam</strong>
                <dl>
                  <div class="row">
                    <dt class="col-xs-4">Job Title</dt>
                    <dd class="col-xs-8">Director</dd>


                  </div>
                  <div class="row">
                    <dt class="col-xs-4">Contact Number</dt>
                    <dd class="col-xs-8"><a href="tel:+917628018740">+91 762801 8740</a></dd>


                  </div>
                  <div class="row">
                    <dt class="col-xs-4">Email</dt>
                    <dd class="col-xs-8"><a href="mailto:samananda@dynamicgroupoffoundations.org">samananda@dynamicgroupoffoundations.org</a></dd>
                  </div>
                </dl>
              </dd>
            </div>
            <hr>
            <div class="row">
              <dt class="col-xs-4">
                Alternate Contact Person
              </dt>
              <dd class="col-xs-8">
                <strong>
          <i class="fa fa-user-circle"></i> 
        Johny Singh Soibam
        </strong>
                <dl>

                  <div class="row">
                    <dt class="col-xs-4">Job Title</dt>
                    <dd class="col-xs-8">Manager</dd>


                  </div>
                  <div class="row">
                    <dt class="col-xs-4">Contact Number</dt>
                    <dd class="col-xs-8"><a href="tel:+918794781596">+91 879478 1596</a></dd>


                  </div>
                  <div class="row">
                    <dt class="col-xs-4">Email</dt>
                    <dd class="col-xs-8"><a href="mailto:Johny@dynamicgroupoffoundations.org">Johny@dynamicgroupoffoundations.org</a></dd>
                  </div>
                </dl>
              </dd>
            </div>
          </dl>
        </div>

        <div class="row">
          <div class="row">
            <div class="col-xs-12">
              <h1>Legal Details</h1>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Particulars</th>
                  <th>Reference</th>
                  <th>Validity</th>
                </tr>
              </thead>
              <tbody>
                <td>
                  Societies Registration Act, Manipur
                </td>
                <td>27 of 2013
                </td>
                <td>-</td>
                <tr>
                  <td colspan="3">
                    <img src="assets/images/cert.jpg" class="img img-responsive" width="60%">
                  </td>
                </tr>
                <tr>
                  <td>Section 12(A) of the IT Act 1961</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Permanent Account Number</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>FCRA</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>FCRA Return</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>Section 80(G) of the IT Act 1961</td>
                  <td></td>
                  <td></td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>