<div class="container">
    <div class="col-sm-10 col-sm-push-1">
        <md-card>
            <article>
                <h2 class="h2">Organizational Profile</h2>
                <hr>
                <h4 class="h4 hover">Dynamic Group of Foundations (DGF)</h4>
                <p [innerHTML]="p1">
                </p>
                <p>
                    The Dynamic Group of Foundations is a state level trust under the Indian Trust Act 1882 and Indian Registration Act 1908
                    bearing the Registration Number 27 of 2013 with Head Office located at Khurai Thoudam Leikai, Lamlong,
                    Imphal East, Manipur- 795010. The trust is also registered under Section 12(A) and 80(G) of Income Tax
                    Act, 1961, Government of India.
                </p>
                <p>
                    To address above mentioned issues, DYNAMIC GROUP OF FOUNDATIONS focuses on three objectives, namely – Education, Health and
                    Economic Development.
                </p>

            </article>
        </md-card>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingmaintarg">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#maintarg" aria-expanded="false" aria-controls="maintarg">Our Main Targets
                            </a>
                    </h3>
                </div>
                <div role="tabpanel" class="panel-collapse collapse in" id="maintarg" attr.aria-labelledby="headingmaintarg">
                    <div class="panel-body">
                        <p>
                            Dynamic Group of Foundations (DGF) works for the development of the community as a whole. However, the needy target groups
                            of the projects of DGF are as follows:
                        </p>
                        <ol type="i">
                            <li>Poor Families</li>
                            <li>Destitute People</li>
                            <li>Widows and Widowers</li>
                            <li>Women</li>
                            <li>Slum children</li>
                            <li>Orphans</li>
                            <li>Differently abled</li>
                            <li>Poor/ Marginal Farmers</li>
                            <li>Old aged Persons</li>
                            <li>Homeless People</li>
                            <li>Child labour</li>
                            <li>Children of Backward Classes</li>
                            <li>Children of Sex Workers</li>
                            And the likes
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingValues">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#Values" aria-expanded="false" aria-controls="Values">Our Values
                            </a>
                    </h3>
                </div>
                <div role="tabpanel" class="panel-collapse collapse" id="Values" attr.aria-labelledby="headingValues">
                    <div class="panel-body">
                        <article>
                            <p>
                                Dynamic Group of Foundations(DGF) is committed to providing sustainable development for the underprivileged and vulnerable
                                members of the population with special focus on children and persons living in difficult
                                circumstances by acting as a facilitator through community development providing education,
                                vocational training, health awareness and service, shelter, nutrition counselling, recreation,
                                rescue and rehabilitation, repatriation awareness on rights, emergency relief, capacity building,
                                fundraising, socio-economic, cultural and spiritual development regardless of race, sex,
                                religion or politics to achieve goals. DGF is committed to social justice and work for preservation
                                of human rights. DGF follows the rights based approach with people participation to evolve
                                and transform to a prosperous future. We thus follow the People Empowerment model of ministry.
                                DGF acknowledge and nurture the potentials of all children. We are accountable and transparent
                                to all donors and sponsors.
                            </p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingObjectives">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#Objectives" aria-expanded="false" aria-controls="Objectives">Our Objectives
                            </a>
                    </h3>
                </div>
                <div role="tabpanel" class="panel-collapse collapse" id="Objectives" attr.aria-labelledby="headingObjectives">
                    <div class="panel-body">
                        <p>
                            The given five domains of evolution, described below, interact to promote sustainable transformation in social, biophysical,
                            political, economic, spiritual and ecclesiastical systems. The five domains of evolution are:
                        </p>
                        <ol type="1">
                            <li><b>Well-being of children and families</b></li>
                            <p>
                                The Project Goal ensures that the capacities of families and communities for survival and growth will be enhanced through
                                championing of their human rights towards health and basic education, as well as spiritual
                                and emotional nurture. Through Economic Development Project, the program have immense scope
                                for the development of children’s and families’ well-being that further seek opportunity
                                to develop a sustainable household livelihood with just distribution of resources, capacity
                                to earn a future livelihood, protection from abuse and exploitation, as well as reduction
                                of the risk of exposure to disasters and HIV/AIDS.
                            </p>
                            <li><b>Well-being of children and families</b></li>
                            <p>Helping the needy children is the core model of development and evolution. The DGF places children
                                as the centre stage of change and evolution. Children will be participating in the development
                                process in age-appropriate ways throughout the life of Organization; consequently the children
                                will become agents of transformation in their families and communities.
                            </p>

                            <li><b>Transformed relationships</b></li>
                            <p>The Integration of Education, Health & Economic Development Projects creates an environment to
                                interact, dialogue & build relationship to some degree with the community. Having this opportunity
                                DGF has scope to address to the need of restoring relationships with each other, the environment,
                                and with God. Establishing equitable, just, peaceful, productive and inclusive relationships
                                within households and communities could impact social, political, economic, spiritual and
                                ecclesiastical aspects of community life. The Economic Development Project will directly
                                deal with the issues of unstable ecosystem and will help the community to manage environmental
                                resources.
                            </p>

                            <li><b>Interdependent and empowered communities</b></li>
                            <p>Projects of DGF are road mapped with the success in mind that can be achieved through the strength
                                of collaboration, coordination, participation & networking. The success of empowerment model
                                can only be ensured through coalition & networking at local, national, regional & global
                                level on mutual respect, transparency and ethical/morals responsibility. The road map ensure
                                that DGF will move into building a culture of people participation that will empower & sustain
                                families and whole communities to influence and shape their growth and transformation meaningfully.</p>

                            <li><b>Transformed systems and structures</b></li>
                            <p>DGF also captures the issue of systems & structure of the present target community. Building
                                & Strengthening community based organisation for leadership role is the top priority of DGF.
                                The community will be sensitized and made aware of their rights so that just systems and
                                structures would be in the right place and consequently, the community will have affordable
                                & accessible services & resources for themselves.
                            </p>
                            <h3>Ultimate Goal</h3>
                            <p>The ultimate goal of DGF in India is that “Community would be able to manage development program,
                                to have ownership in it, and to take a lead in the betterment of future of the community
                                with the available funds and resources.”</p>

                            <h3>Our Motto</h3>
                            <p class="hover well"><em class="lead">Evolve and Transform.</em></p>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-Board">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#Board" aria-expanded="false" aria-controls="Board">Our Board Members
                            </a>
                    </h3>
                </div>
                <div role="tabpanel" class="panel-collapse collapse" id="Board" attr.aria-labelledby="heading-Board">
                    <div class="panel-body">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Sl. No.</th>
                                    <th>Name</th>
                                    <th>Designation</th>
                                    <th>Occupation</th>
                                    <th>Qualification</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let member of boardMembers, let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{member.name}}</td>
                                    <td>{{member.designation}}</td>
                                    <td>{{member.occupation}}</td>
                                    <td>{{member.qualification}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-Advisory">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#Advisory" aria-expanded="false" aria-controls="Advisory">Our Advisory Board
                            </a>
                    </h3>
                </div>
                <div role="tabpanel" class="panel-collapse collapse" id="Advisory" attr.aria-labelledby="heading-Advisory">
                    <div class="panel-body">
                        <p>
                            The administration of the Organization would not have been complete without the help and advice of the undermentioned personnel.
                            Though they do not form a part of the Organization, they play the role of advisors in the Organization.
                        </p>
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Sl. No.</th>
                                    <th>Name</th>
                                    <th>Occupation</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Mr. M. Premjit</td>
                                    <td>Project Director, All Women and Child Development MNGO, Manipur</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Mr. T. Lukhoi</td>
                                    <td>Project Director, All Women and Child Development MNGO, Manipur</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Mr. Juno Rahman</td>
                                    <td>Lawyer</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-Funding">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#Funding" aria-expanded="false" aria-controls="Funding">Funding Details
                            </a>
                    </h3>
                </div>
                <div role="tabpanel" class="panel-collapse collapse" id="Funding" attr.aria-labelledby="heading-Funding">
                    <div class="panel-body">
                        Dynamic Group of Foundations is funded by Global Fund for Sustainable Development, Germany through the All Women and Children
                        Development, MNGO, Manipur State Region, GF-India, Chingamathak, Imphal, Manipur.
                    </div>
                </div>
            </div>
        </div>
        <!--
        <md-tab-group>
            <md-tab label="Our Main Targets">
                <md-card>
                    <p>
                        Dynamic Group of Foundations (DGF) works for the development of the community as a whole. However, the needy target groups
                        of the projects of DGF are as follows:
                    </p>
                    <ol type="i">
                        <li>Poor Families</li>
                        <li>Destitute People</li>
                        <li>Widows and Widowers</li>
                        <li>Women</li>
                        <li>Slum children</li>
                        <li>Orphans</li>
                        <li>Differently abled</li>
                        <li>Poor/ Marginal Farmers</li>
                        <li>Old aged Persons</li>
                        <li>Homeless People</li>
                        <li>Child labour</li>
                        <li>Children of Backward Classes</li>
                        <li>Children of Sex Workers</li>
                        And the likes
                    </ol>
                </md-card>
            </md-tab>
            <md-tab label="Our Values">
                <article>
                    <md-card>
                        <p>
                            Dynamic Group of Foundations(DGF) is committed to providing sustainable development for the underprivileged and vulnerable
                            members of the population with special focus on children and persons living in difficult circumstances
                            by acting as a facilitator through community development providing education, vocational training,
                            health awareness and service, shelter, nutrition counselling, recreation, rescue and rehabilitation,
                            repatriation awareness on rights, emergency relief, capacity building, fundraising, socio-economic,
                            cultural and spiritual development regardless of race, sex, religion or politics to achieve goals.
                            DGF is committed to social justice and work for preservation of human rights. DGF follows the
                            rights based approach with people participation to evolve and transform to a prosperous future.
                            We thus follow the People Empowerment model of ministry. DGF acknowledge and nurture the potentials
                            of all children. We are accountable and transparent to all donors and sponsors.
                        </p>
                    </md-card>
                </article>
            </md-tab>
            <md-tab label="Our Objectives">
                <md-card>
                    <p>
                        The given five domains of evolution, described below, interact to promote sustainable transformation in social, biophysical,
                        political, economic, spiritual and ecclesiastical systems. The five domains of evolution are:
                    </p>
                    <ol type="1">
                        <li><b>Well-being of children and families</b></li>
                        <p>
                            The Project Goal ensures that the capacities of families and communities for survival and growth will be enhanced through
                            championing of their human rights towards health and basic education, as well as spiritual and
                            emotional nurture. Through Economic Development Project, the program have immense scope for the
                            development of children’s and families’ well-being that further seek opportunity to develop a
                            sustainable household livelihood with just distribution of resources, capacity to earn a future
                            livelihood, protection from abuse and exploitation, as well as reduction of the risk of exposure
                            to disasters and HIV/AIDS.
                        </p>
                        <li><b>Well-being of children and families</b></li>
                        <p>Helping the needy children is the core model of development and evolution. The DGF places children
                            as the centre stage of change and evolution. Children will be participating in the development
                            process in age-appropriate ways throughout the life of Organization; consequently the children
                            will become agents of transformation in their families and communities.</p>

                        <li><b>Transformed relationships</b></li>
                        <p>The Integration of Education, Health & Economic Development Projects creates an environment to interact,
                            dialogue & build relationship to some degree with the community. Having this opportunity DGF
                            has scope to address to the need of restoring relationships with each other, the environment,
                            and with God. Establishing equitable, just, peaceful, productive and inclusive relationships
                            within households and communities could impact social, political, economic, spiritual and ecclesiastical
                            aspects of community life. The Economic Development Project will directly deal with the issues
                            of unstable ecosystem and will help the community to manage environmental resources.
                        </p>

                        <li><b>Interdependent and empowered communities</b></li>
                        <p>Projects of DGF are road mapped with the success in mind that can be achieved through the strength
                            of collaboration, coordination, participation & networking. The success of empowerment model
                            can only be ensured through coalition & networking at local, national, regional & global level
                            on mutual respect, transparency and ethical/morals responsibility. The road map ensure that DGF
                            will move into building a culture of people participation that will empower & sustain families
                            and whole communities to influence and shape their growth and transformation meaningfully.</p>

                        <li><b>Transformed systems and structures</b></li>
                        <p>DGF also captures the issue of systems & structure of the present target community. Building & Strengthening
                            community based organisation for leadership role is the top priority of DGF. The community will
                            be sensitized and made aware of their rights so that just systems and structures would be in
                            the right place and consequently, the community will have affordable & accessible services &
                            resources for themselves.
                        </p>
                        <h3>Ultimate Goal</h3>
                        <p>The ultimate goal of DGF in India is that “Community would be able to manage development program,
                            to have ownership in it, and to take a lead in the betterment of future of the community with
                            the available funds and resources.”</p>

                        <h3>Our Motto</h3>
                        <p class="hover well"><em class="lead">Evolve and Transform.</em></p>
                    </ol>
                </md-card>
            </md-tab>
            <md-tab label="Our Board Members">
                <md-card>
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Sl. No.</th>
                                <th>Name</th>
                                <th>Designation</th>
                                <th>Occupation</th>
                                <th>Qualification</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let member of boardMembers, let i = index">
                                <td>{{i+1}}</td>
                                <td>{{member.name}}</td>
                                <td>{{member.designation}}</td>
                                <td>{{member.occupation}}</td>
                                <td>{{member.qualification}}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-card>
            </md-tab>
            <md-tab label="Our Advisory Board">
                <md-card>
                    <p>
                        The administration of the Organization would not have been complete without the help and advice of the undermentioned personnel.
                        Though they do not form a part of the Organization, they play the role of advisors in the Organization.
                    </p>
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>Sl. No.</th>
                                <th>Name</th>
                                <th>Occupation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mr. M. Premjit</td>
                                <td>Project Director, All Women and Child Development MNGO, Manipur</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Mr. T. Lukhoi</td>
                                <td>Project Director, All Women and Child Development MNGO, Manipur</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Mr. Juno Rahman</td>
                                <td>Lawyer</td>
                            </tr>
                        </tbody>
                    </table>
                </md-card>
            </md-tab>
            <md-tab label="Funding Details">
                <md-card>
                    Dynamic Group of Foundations is funded by Global Fund for Sustainable Development, Germany through the All Women and Children
                    Development, MNGO, Manipur State Region, GF-India, Chingamathak, Imphal, Manipur.
                </md-card>
            </md-tab>
        </md-tab-group>
        -->
    </div>
</div>