<!--img class="img img-responsive" src="assets/images/DGF_WORKING_STRUCTURE.png" width="80%"
<style>
    table,
    tr,
    td {
        all: initial;
    }
</style>
-->
<div class="row">
  <div class="col-sm-10 col-sm-push-1">
    <div id="org_struct" class="row" *ngIf="false">
    </div>
    <div class="row">
      <h2>Organisation Structure</h2>
      <figure>
        <div class="table-responsive">
          <table class="google-visualization-orgchart-table" dir="ltr" cellpadding="0" cellspacing="0" align="center" border="1px solid black">
            <tbody>
              <tr>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
                <td class="google-visualization-orgchart-space-medium"></td>
              </tr>
              <tr class="google-visualization-orgchart-noderow-medium">
                <td colspan="34" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td colspan="6" class="google-visualization-orgchart-node google-visualization-orgchart-node-medium google-visualization-orgchart-nodesel"
                  title="">Board Members</td>
                <td colspan="6" class="google-visualization-orgchart-linenode">
                </td>
                <td colspan="6" class="google-visualization-orgchart-node google-visualization-orgchart-node-medium" title="">Legal Advisor</td>
                <td colspan="3" class="google-visualization-orgchart-linenode">
                </td>
                <td colspan="6" class="google-visualization-orgchart-node google-visualization-orgchart-node-medium" title="">Personal Secretary</td>

              </tr>
              <tr class="google-visualization-orgchart-connrow-medium">
                <td colspan="37" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>
              </tr>
              <tr class="google-visualization-orgchart-connrow-medium">
                <td colspan="37" class="google-visualization-orgchart-linenode ">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>
              </tr>
              <tr class="google-visualization-orgchart-noderow-medium">
                <td colspan="34" class="google-visualization-orgchart-linenode" title="">&nbsp;</td>
                <td colspan="6" class="google-visualization-orgchart-node google-visualization-orgchart-node-medium" title="">Project Director</td>
                <td colspan="8" class="google-visualization-orgchart-linenode">
                </td>

              </tr>
              <tr class="google-visualization-orgchart-connrow-medium">
                <td colspan="37" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>
              </tr>
              <tr class="google-visualization-orgchart-connrow-medium">
                <td colspan="37" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>
              </tr>
              <tr class="google-visualization-orgchart-noderow-medium">
                <td colspan="34" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td colspan="6" class="google-visualization-orgchart-node google-visualization-orgchart-node-medium" title="">Project Manager</td>
              </tr>
              <tr class="google-visualization-orgchart-connrow-medium">
                <td colspan="13" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td colspan="3" class="google-visualization-orgchart-linenode">&nbsp;</td>
              </tr>
              <tr class="google-visualization-orgchart-connrow-medium">
                <td colspan="13" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>
                <td colspan="26" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineright">&nbsp;</td>
                <td colspan="19" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineright">&nbsp;</td>
                <td colspan="3" class="google-visualization-orgchart-linenode">&nbsp;</td>
              </tr>
              <tr class="google-visualization-orgchart-noderow-medium">
                <td colspan="10" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td colspan="6" class="google-visualization-orgchart-node google-visualization-orgchart-node-medium" title="">Project Officer</td>
                <td colspan="22" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td colspan="6" class="google-visualization-orgchart-node google-visualization-orgchart-node-medium" title="">Administrative Officer</td>
                <td colspan="14" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td colspan="6" class="google-visualization-orgchart-node google-visualization-orgchart-node-medium" title="">Finance Officer</td>
              </tr>
              <tr class="google-visualization-orgchart-connrow-medium">
                <td colspan="5" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td colspan="20" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>
                <td colspan="19" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>
                <td colspan="2" class="google-visualization-orgchart-linenode">&nbsp;</td>
              </tr>
              <tr class="google-visualization-orgchart-connrow-medium">
                <td colspan="5" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>
                <td colspan="7" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>
                <td colspan="6" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineright">&nbsp;</td>
                <td colspan="20" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>
                <td colspan="19" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>
                <td colspan="2" class="google-visualization-orgchart-linenode">&nbsp;</td>
              </tr>
              <tr class="google-visualization-orgchart-noderow-medium">
                <td colspan="2" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td colspan="6" class="google-visualization-orgchart-node google-visualization-orgchart-node-medium" title="">Project Co-ordinator (Health)</td>
                <td colspan="2" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td colspan="6" class="google-visualization-orgchart-node google-visualization-orgchart-node-medium" title="">Project Co-ordinator (Socio-economic)</td>
                <td colspan="2" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td colspan="6" class="google-visualization-orgchart-node google-visualization-orgchart-node-medium" title="">Project Co-ordinator (Education)</td>
                <td colspan="14" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td colspan="6" class="google-visualization-orgchart-node google-visualization-orgchart-node-medium" title="">Administrative Assistant</td>
                <td colspan="14" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td colspan="6" class="google-visualization-orgchart-node google-visualization-orgchart-node-medium" title="">Accountant</td>
              </tr>
              <tr class="google-visualization-orgchart-connrow-medium">
                <td colspan="5" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>
                <td colspan="7" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>
                <td colspan="7" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>
                <td colspan="7" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-linebottom">&nbsp;</td>
                <td colspan="11" class="google-visualization-orgchart-linenode">&nbsp;</td>
              </tr>
              <tr class="google-visualization-orgchart-connrow-medium">
                <td colspan="5" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>
                <td colspan="7" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>
                <td colspan="7" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>
                <td colspan="7" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>
                <td colspan="7" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>
                <td colspan="6" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineright">&nbsp;</td>
                <td colspan="7" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineright">&nbsp;</td>
                <td colspan="11" class="google-visualization-orgchart-linenode">&nbsp;</td>
              </tr>
              <tr class="google-visualization-orgchart-noderow-medium">
                <td colspan="5" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>
                <td colspan="7" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>
                <td colspan="7" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>
                <td colspan="4" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td colspan="6" class="google-visualization-orgchart-node google-visualization-orgchart-node-medium" title="">Trainer and Recorder</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>
                <td colspan="4" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>
                <td colspan="6" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineright">&nbsp;</td>
                <td colspan="5" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td colspan="6" class="google-visualization-orgchart-node google-visualization-orgchart-node-medium" title="">Office Assistant</td>
                <td colspan="8" class="google-visualization-orgchart-linenode">&nbsp;</td>
              </tr>
              <tr class="google-visualization-orgchart-noderow-medium">
                <td colspan="2" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td colspan="6" class="google-visualization-orgchart-node google-visualization-orgchart-node-medium" title="">Field Workers</td>
                <td colspan="2" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td colspan="6" class="google-visualization-orgchart-node google-visualization-orgchart-node-medium" title="">Field Workers</td>
                <td colspan="2" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td colspan="6" class="google-visualization-orgchart-node google-visualization-orgchart-node-medium" title="">Field Workers</td>
                <td colspan="13" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineleft">&nbsp;</td>

                <td colspan="6" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td class="google-visualization-orgchart-linenode google-visualization-orgchart-lineright">&nbsp;</td>
                <td colspan="7" class="google-visualization-orgchart-linenode">&nbsp;</td>
              </tr>
              <tr class="google-visualization-orgchart-noderow-medium">
                <td colspan="34" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td colspan="6" class="google-visualization-orgchart-node google-visualization-orgchart-node-medium" title="">Driver</td>
                <td colspan="2" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td colspan="6" class="google-visualization-orgchart-node google-visualization-orgchart-node-medium" title="">Sweeper</td>
                <td colspan="2" class="google-visualization-orgchart-linenode">&nbsp;</td>
                <td colspan="8" class="google-visualization-orgchart-linenode">&nbsp;</td>
              </tr>
              <tr class="google-visualization-orgchart-connrow-medium">
                <td colspan="78" class="google-visualization-orgchart-linenode">&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </div>
      </figure>
    </div>
  </div>
</div>